MONGODB_CONNECTION_STRING=mongodb+srv://tu_usuario:<tu_password>@tu_cluster.mongodb.net/?appName=Cluster0
MONGODB_DATABASE_NAME=HistoriasClinicasDb
MONGODB_COLLECTION_NAME=HistoriasClinicas
ASPNETCORE_ENVIRONMENT=Production
